
<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-menu  side="start" class="my-custom-menu" >
    <ion-header>
      <ion-toolbar translucent>
        
        <ion-title class="title-menu"> Tips </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
     <img class="logo" src="assets/images/Logo.svg">
        <ion-item text-center class="text-menu" routerLink="/home" ><ion-label>Centros de Atención</ion-label></ion-item>
        <ion-item text-center class="text-menu" routerLink="/tips" id="M1"><ion-label>Tips</ion-label></ion-item>
        <ion-item text-center class="text-menu" routerLink="/blog"><ion-label>Blog</ion-label></ion-item>
        <ion-item text-center class="text-menu" routerLink="/galeria"><ion-label>Galeria</ion-label></ion-item>
        <ion-item text-center class="text-menu" routerLink="/login"><ion-label>Salir</ion-label></ion-item>
        <ion-item  offset="1" >
          <ion-icon name="logo-facebook"></ion-icon>
          <ion-icon name="logo-instagram"></ion-icon>
          <ion-icon name="logo-whatsapp"></ion-icon>
          </ion-item>
          <ion-item offset="1" >
          <img class="icono" src="assets/icon/usa.svg">
          <img class="icono" src="assets/icon/mexico.svg">
        </ion-item>
        </ion-list>
    </ion-content>

  </ion-menu>

  <div class="ion-page" main>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="titulo-home">Tips</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="container">
        <iframe width="100%" height="530px" allow="microphone;" src="https://console.dialogflow.com/api-client/demo/embedded/fb2a809a-3260-4bb7-8bc0-2c3ae6956977"></iframe>
      </div>
    </ion-content>
  </div>
</ion-app>